


.info-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;;
    
}

.info-content::-webkit-scrollbar {
    width: 0 !important;
}

.info-blur{
    background: linear-gradient(var(--gray), rgba(255,255,255,0));
}

.info-container{
    margin: 1rem;
    position: relative;
    /* height: 90%; */
    height: 41rem;
    min-height: 41rem;
    /* border: 1px solid var(--mid); */
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    /* flex-grow: 1; */
}

.info-box{
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    /* flex-grow: 1; */
    border-right: 0.25rem solid var(--mid);
    background-color: var(--gray);
    /* border-left-width: 0.5rem; */
    position: absolute;
    top:0;
    left:0;
    /* overflow: hidden; */
    transition: width 0.75s ease-in-out 0.25s;    
}

.block-active .info-content{
    opacity: 1 !important;
}


.info-highlight{
    font-weight: 700;
}

.info-my-name:hover{
    color: var(--dark);
}

.info-text{
    
    /* min-width: 300px;
    flex-grow: 1; */
    width: 100%;
    height: 100%;
    padding: 0 2.5rem 2.5rem;
    position: absolute;
    right:0;
    left:0;
}

.info-text p{
    color: var(--light);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
    min-width: 100%;
    cursor: default;
    position: relative;
}



.block-active .info-box{
    width: 0;
}

/* ==============skills  =================== */
.skills-container{

    height: 32rem;
    min-height: 32rem;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.info-circle{
    background-color: var(--light);
}

.circle-box{
    width: 100%;
    margin: 0 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle-box-pad-0{
    padding-left: 0 !important;
}

.circle-margin{
    margin:2rem 0;
    padding: 0;
}

.info-title-text{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.75rem;
    color: var(--light);
    margin: 1rem auto;
    padding-left: 0.75rem;
}

p.info-text-big{
    font-size: 1.5rem;
}

p.light-color-text{
    color:var(--light);
}

p.mid-color-text{
    color: var(--mid);
}

p.dark-color-text{
    color: var(--dark);
}

.sub{
    opacity: 1;
}

/* ================ skill =================== */

.skills-content{
    margin: 0.5rem auto 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.skill-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0 2rem;
    width: 100%;
}

.skill{
    position: relative;
    border: 0.5px solid var(--mid);
    height: 2rem;
    /* width: 14rem; */
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin: 0.75rem 0.5rem 0.75rem 0.5rem;
    padding: 0 0.25rem;
    box-shadow: 1px 1px 1px var(--gray);
    transition: transform 0.5s, opacity 2s;
    cursor: default;
    opacity: 0;
}

.skill:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 2px var(--dark);

}

.skill-name{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;
    white-space: nowrap;
    color: var(--light);
    user-select: none; /* Standard property */ 
    -webkit-user-select: none; /* For Safari */ 
    -moz-user-select: none; /* For Firefox */ 
    -ms-user-select: none; /* For Internet Explorer and Edge */
}

.skill-name1{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--light);
    color: var(--gray);
    overflow-x: hidden;
    width: 0.25rem;
    transition: width 0.65s ease-in-out 0.1s;

}

.skill-name2{
    color: var(--light);
}

.skill-specific{
    border: 1px solid var(--mid) !important;
}

.skill-name3{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--mid);
    color: var(--gray);
    overflow-x: hidden;
    width: 0.25rem;
    transition: width 0.65s ease-in-out 0.25s;
}

.skill-name4{
    color: var(--mid);
}

.skills-title {
    color: var(--light);
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.skills-flexbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-title-light{
    color: var(--dark) !important;
    font-weight: 600;
}

.line{
    height: 1px;
    padding: 1px 0 0 0;
    margin: 2.5rem auto;
    border-top: 0.5px solid var(--mid);
}

.line-75{
    width: 75%;
}

.line-50{
    width: 50%;
}

.line-10{
    width: 10%;
}

.align-left{
    margin: 0 !important;
}

/* ==================== */

.pic-box{
    border: 1px solid var(--gray);
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    margin-left: 2.5rem;
}

.pic-box img{
    width: 3.5rem;
    height: 3.5rem;
}

/* ====================  */

.skill-show {
    opacity: 1 !important;
}


/* ================ */

@media screen and (min-width: 321px) {
    .info-container{
        height: 36rem;
        min-height: 36rem;
    }
}

@media screen and (min-width: 376px) {
    .info-container{
        height: 33rem;
        min-height: 33rem;
    }   
}

@media screen and (min-width: 426px) {
    .skills-flexbox{
        justify-content: flex-start;
    }    

    .info-container{
        height: 26rem;
        min-height: 26rem;
    } 

    .circle-box{
        width: 100%;
        padding-left: 0.75rem;
        margin: 0 0 0.5rem;
        display: block;
    }

    .skills-title {
        padding-left: 0.75rem;
        text-align: left;
    }
}

@media screen and (min-width: 769px) {
    p.info-text-big{
        font-size: 3rem;
    }

    .info-container{
        height: 38rem;
        min-height: 38rem;
        margin-top:2rem
    }

    .info-text-span{
        position: relative;
    }

    .sub{
        display: block;
        white-space: nowrap;
        /* position: absolute; */
        /* left: 105%; */
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
    
    .info-text-p:hover .sub{
        opacity: 1 !important;
    }

    .skill-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 1rem 2.5rem; */
    }

    .info-text p{
        font-size: 1.25rem;
    }

    p.info-text-big{
        font-size: 3rem;
    }

}

@media screen and (min-width: 1025px) {
    
    .info-container{
        height: 45rem;
        min-height: 45rem;
    }

    .info-text p{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    p.info-text-big{
        font-size: 3rem;
    }

}

@media screen and (min-width: 1080px){

    .info-container{
        height: 36rem;
        min-height: 36rem;
    }

    .sub{
        display: inline;
    }
    
}

