


.info-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;;
    
}

.info-content::-webkit-scrollbar {
    width: 0 !important;
}

.info-blur{
    background: linear-gradient(var(--gray), rgba(255,255,255,0));
}

.info-container{
    margin: 1rem;
    position: relative;
    /* height: 90%; */
    height: 100%;
    min-height: 90%;
    /* border: 1px solid var(--mid); */
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    /* flex-grow: 1; */
}

.info-box{
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    /* flex-grow: 1; */
    border-right: 0.25rem solid var(--mid);
    background-color: var(--gray);
    /* border-left-width: 0.5rem; */
    position: absolute;
    top:0;
    left:0;
    /* overflow: hidden; */
    transition: width 0.75s ease-in-out 0.25s;    
}

.block-active .info-content{
    opacity: 1 !important;
}


.info-highlight{
    font-weight: 700;
}

/* .info-my-name{
    text-decoration: underline;
} */

.info-text{
    
    /* min-width: 300px;
    flex-grow: 1; */
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    position: absolute;
    right:0;
    left:0;
}

.info-text p{
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    margin: 1rem 0;
    min-width: 100%;
    cursor: default;
    position: relative;
}



.block-active .info-box{
    width: 0;
}

/* ==============skills  =================== */
.skills-container{

    height: 32rem;
    min-height: 32rem;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-circle{
    background-color: var(--light);
}

.info-title-text{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.75rem;
    color: var(--light);
    padding-left: 0.75rem;
}

p.info-text-big{
    font-size: 2rem;
}

p.light-color-text{
    color:var(--light);
}

p.mid-color-text{
    color: var(--mid);
}

p.dark-color-text{
    color: var(--dark);
}

.sub{
    display: none;
}

/* ================ skill =================== */

.skills-content{
    margin: 2rem auto;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.skill-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.skill{
    position: relative;
    border: 1px solid var(--light);
    height: 2rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 1px var(--dark);
    transition: all 0.5s;
    cursor: default;
}

.skill:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 2px var(--dark);

}

.skill-name{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    white-space: nowrap;
}

.skill-name1{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--light);
    color: var(--gray);
    overflow-x: hidden;
    width: 0.25rem;
    transition: width 0.65s ease-in-out 0.1s;

}

.skill-name2{
    color: var(--light);
}

.skill-specific{
    border: 1px solid var(--mid) !important;
}

.skill-name3{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--mid);
    color: var(--gray);
    overflow-x: hidden;
    width: 0.25rem;
    transition: width 0.65s ease-in-out 0.25s;
}

.skill-name4{
    color: var(--mid);
}

/* ====================  */

.skill-show .skill-name-js{
    width: 90%;
}

.skill-show .skill-name-php{
    width: 55%;
}

.skill-show .skill-name-csharp{
    width: 40%;
}

.skill-show .skill-name-java{
    width: 65%;
}

.skill-show .skill-name-cpp{
    width: 30%;
}

.skill-show .skill-name-python{
    width: 40%;
}

.skill-show .skill-name-sql{
    width: 60%;
}


.skill-show .skill-name-react{
    width: 60%;
}

.skill-show .skill-name-express{
    width: 75%;
}

.skill-show .skill-name-android{
    width: 70%;
}

.skill-show .skill-name-firebase{
    width: 40%;
}

.skill-show .skill-name-django{
    width: 50%;
}

/* ================ */

@media screen and (min-width: 769px) {
    p.info-text-big{
        font-size: 3rem;
    }

    .info-container{
        height: 90vh;
        min-height: 90vh;
    }

    .info-text-span{
        position: relative;
    }

    .sub{
        display: inline;
        white-space: nowrap;
        /* position: absolute; */
        /* left: 105%; */
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
    
    .info-text-p:hover .sub{
        opacity: 1 !important;
    }

}

@media screen and (min-width: 1025px) {
    
    .info-container{
        height: 80vh;
        min-height: 80vh;
    }

    .info-text p{
        font-size: 1.5rem;
    }

    p.info-text-big{
        font-size: 4rem;
    }
}

