:root{
    --dark: #0d1f2d;
    --gray: #546A7B;
    --mid: #9EA3B0;
    /* --white: #FAE1DF; */
    /* --light: #E4C3AD; */
    --white: #f9f9f9;
    --light: #f9f9f9;

    --pink: #f788e3;
    --purple: #9b88f7;
    --blue:#88e3f7;
    --yellow:#f7f588;
    --green:#95f788;
    --red:#f7b188;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html{
    font-size: 14px;
}

html, body{
    background-color: var(--white);
}

body{
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

/* nav buttons */

.btn-container{
    height: 30px;
    width: 100%;
}

.nav-item{
    /* border: 1px solid green; */
    border: none;
    height: 30px;
    min-height: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
        left : 0;
    transition : left 0.5s ease-in-out;
    cursor: pointer;

}

.nav-item-hidden{
    left: -15rem;
}

.nav-item-line{
    width: 10px;
    height: 1px;
    background-color: gray;
    margin: 0 0.5rem;
    transition : width 0.5s ease-in-out;
}

.nav-item-text{
    letter-spacing: 3px;
    transition: letter-spacing 0.5s ease-in-out, 
                font-weight 0.5s ease-in-out;
}

.block-active .nav-item-text{
    letter-spacing: 6px;
}

.blur{
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 30px;
    z-index: 2;
    /* background-color: red; */
}

#connect-btn{
    transition-delay: 1s;
}

#projects-btn{
    transition-delay: 1.25s;
}

#info-btn{
    transition-delay: 1.5s;
}

#home-btn{
    transition-delay: 1.75s;
}

#connect-btn span{
    color: var(--dark);
}

#projects-btn span{
    color: var(--dark);
}

#info-btn span{
    color: var(--light);
}

#home-btn span{
    color: var(--mid);
}
/*  */
#connect-btn .nav-item-line{
    background-color: var(--gray);
}

#projects-btn .nav-item-line{
    background-color: var(--dark);
}

#info-btn .nav-item-line{
    background-color: var(--light);
}

#home-btn .nav-item-line{
    background-color: var(--mid);
}

/* ============= blocks/tabs ============== */



.block{
    /* border: 1px solid red; */
    width: 100%;
    height: 30px;
    min-height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.block-active{
    /* height: auto !important;
    min-height: auto !important; */
    flex-grow: 1;
}

.test-active{
    flex-grow: 1;
}

.block-active .nav-item-line{
    width: 30px !important;
}

#loader{
    height: 0px;
    min-height: 0px;
    background-color: var(--white);
    /* width: 100%; */
    transition: height 1s ease-in-out 0.1s, 
        min-height 1s ease-in-out 0.1s,
        flex-grow 0.25s ease-in-out;
}

#connect{
    background-color: var(--light);
}

.connect-transition{
    transition: height 1.5s ease-in-out 0.1s, 
        min-height 1.5s ease-in-out 0.1s,
        flex-grow 0.5s ease-in-out;
}

#projects{
    background-color: var(--mid);
}

.projects-transition{
    transition: height 1.5s ease-in-out 0.25s , 
        min-height 1.5s ease-in-out 0.25s,
        flex-grow 0.5s ease-in-out;
}

#info{
    background-color: var(--gray);
}

.info-transition{
    transition: height 1.5s ease-in-out 0.5s, 
        min-height 1.5s ease-in-out 0.5s,
        flex-grow 0.5s ease-in-out;
}

#home{
    background-color: var(--dark);
}

.home-transition{
    transition: height 1.5s ease-in-out 0.75s, 
        min-height 1.5s ease-in-out 0.75s,
        flex-grow 0.5s ease-in-out;
}

/* ========== content ================= */

.content {
    border: 1px solid transparent;
    /* min-height: 80vh; */
    width: 100%;
    flex-grow: 1;
    /* overflow-y: auto !important; */
}

.content-hidden{
    visibility: hidden;
}

.home-content{
    /* border: 1px solid red; */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.block .scrollable{
    overflow-y: auto !important;
}

/* ============== loading .... =============== */

div.loading{
    height: 100vh !important;
    min-height: 100vh !important;
    /* flex-grow: 1 !important; */
    
}

/* home =========================== */

.name-container{
    position: relative;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    width: 11rem;
    height: 12rem;
    min-width: 11rem;
    min-height: 12rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.5s;
}

.block-active .name-container{
    opacity: 1;
}

.name-box{
    border: 1px solid var(--light);
    width: 10rem;
    height: 100%;
    position: absolute;
    top:0;
    left:0.5rem;
}

/* right : 0 */

.name-bar{
    overflow: hidden;
    background-color: var(--light);
    width: 0.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    left:auto;
}

/* .block-active .name-bar{
    animation: animate-name-backward 5s ease-in-out 5s;
    animation-fill-mode: forwards;
} */

.name-bar-texts, .name-box-texts{
    width: 10rem;
    height: 12rem;
    min-width: 10rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    /* padding-left: 0.25rem; */
    /* align-items: center; */
}

.name-box-texts div, .name-bar-texts div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name-box-texts div p, .name-bar-texts div p{
    width:2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.25rem;
    user-select: none; /* Standard property */ 
    -webkit-user-select: none; /* For Safari */ 
    -moz-user-select: none; /* For Firefox */ 
    -ms-user-select: none; /* For Internet Explorer and Edge */
}

.name-bar-texts{
    width: 11rem !important;
    position: absolute;
    top:0;
    left: auto;
    right: 0;
   
}

.name-box-texts{
    padding-right: 1px;
}

/* .block-active .name-bar-texts{
    left: 0 !important;
    right: auto !important; 
    animation: animate-name-backward-texts 1.25s ease-in-out 2.5s; 
    animation-fill-mode: forwards;  
} */

/* .bl  */

/* .name-container:hover .name-bar{
    animation: animate-name-forward 5s ease-in-out;
    animation-fill-mode: backwards;
}

.name-container:hover .name-bar-texts{
    animation: animate-name-forward-texts 5s ease-in-out;
    animation-fill-mode: forwards;
} */

.name-box-texts div:nth-child(1){
    animation: animate-line1-backward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.name-box-texts div:nth-child(3){
    animation: animate-line3-backward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.name-box-texts div:nth-child(4){
    animation: animate-line4-backward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.name-container:hover .name-box-texts div:nth-child(1){
    animation: animate-line1-forward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.name-container:hover .name-box-texts div:nth-child(3){
    animation: animate-line3-forward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.name-container:hover .name-box-texts div:nth-child(4){
    animation: animate-line4-forward 1.25s ease-in-out;
    animation-fill-mode: forwards;
}


.name-bar-texts div, .name-box-texts div{
    color: var(--mid);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    /* margin-left: 1rem; */
    /* padding-left: 0.5rem; */
}

.name-bar-texts div{
    color: var(--dark);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bin{
    font-size: 0.7rem;
    font-weight: bold;
    font-family: monospace;
    white-space: pre-wrap;
    letter-spacing: 0.15rem;
    line-height: 1.15rem;
}

/* ============= home - web dev text ====================  */

.home-web-developer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 0.5rem;
    height: 0.5rem;
    min-height: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.web-dev-circle{
    background-color: var(--light);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.75s;
}

.block-active .web-dev-circle{
    opacity: 1;
}

.web-dev-text{
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    color: var(--light);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.95s;
}

.block-active .web-dev-text{
    opacity: 1;
}





@keyframes animate-line1-forward {
    0%{
        color: var(--mid)
    }
    100%{
        color: var(--light)
    }
}

@keyframes animate-line3-forward {
    0%{
        color: var(--mid)
    }
    100%{
        color: var(--gray)
    }
}

@keyframes animate-line4-forward {
    0%{
        color: var(--mid)
    }
    100%{
        color: var(--light)
    }
}

@keyframes animate-line1-backward {
    0%{
        color: var(--light)
    }
    100%{
        color: var(--mid)
    }
}

@keyframes animate-line3-backward {
    0%{
        color: var(--gray)
    }
    100%{
        color: var(--mid)
    }
}

@keyframes animate-line4-backward {
    0%{
        color: var(--light)
    }
    100%{
        color: var(--mid)
    }
}

@keyframes animate-name-forward {
    0%{
        width: 0.5rem;
        left : 0;
        right: auto;
    }
    50%{
        width: 100%;
    }
    /* 90%{
        left: auto;
        right: 0;
    } */
    100%{
        width: 0.5rem;
        left: auto;
        right: 0;
    }
}

@keyframes animate-name-forward-texts {
    0%{
        left : 0;
        right: auto;
    }
    100%{
        left: auto;
        right: 0;
    }
}

@keyframes animate-name-backward {
    0%{
        width: 0.5rem;
        right: 0;
        left : auto;
    }
    50%{
        width: 100%;
        
    }
    100%{
        width: 0.5rem;
        right: auto;
        left : 0;
    }
}


@keyframes animate-name-backward-texts {
    0%{
        left: auto;
        right: 0;
    }
    100%{
        left: 0;
        right: auto;
    }
}


/* ======================================== */

@media screen and (min-width: 769px) {

    .container{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .btn-container{
        height: 100%;
        width: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
        
    #loader{
        width: 0px;
        min-width: 0px;
        /* background-color: var(--red); */
        background-color: var(--light);
        /* width: 100%; */
        transition: width 1s ease-in-out 0.1s, 
            min-width 1s ease-in-out 0.1s,
            flex-grow 0.5s ease-in-out;
    }

    #connect{
        background-color: var(--light);
    }

    .connect-transition{
        transition: width 1.5s ease-in-out 0.1s, 
        min-width 1.5s ease-in-out 0.1s,
        flex-grow 0.5s ease-in-out;
    }

    #projects{
        background-color: var(--mid);
    }

    .projects-transition{
        transition: width 1.5s ease-in-out 0.25s , 
        min-width 1.5s ease-in-out 0.25s,
        flex-grow 0.5s ease-in-out;
    }

    #info{
        background-color: var(--gray);
    }

    .info-transition{
        transition: width 1.5s ease-in-out 0.5s, 
        min-width 1.5s ease-in-out 0.5s,
        flex-grow 0.5s ease-in-out;
    }

    #home{
        background-color: var(--dark);
    }

    .home-transition{
        transition: width 1.5s ease-in-out 0.75s, 
        min-width 1.5s ease-in-out 0.75s,
        flex-grow 0.5s ease-in-out;
    }

    .block{
        width: 30px;
        height: 100%;
        min-width: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    div.loading{
        width: 100vw !important;
        min-width: 100vw !important;
        flex-grow: 1 !important;
        
    }


    .nav-item{
        width: 30px;
        /* height: 100%;
        min-height: 100%; */
        
        transform: rotate(-90deg);
        bottom:0;
        transition : bottom 0.5s ease-in-out 2s;
    }

    .nav-item-line{
        width: 20px;
        min-width: 20px;
        height: 1px;
        /* background-color: red; */
        /* margin: 0.5rem 0; */
        transition : min-width 0.5s ease-in-out, 
                    height 0.5s ease-in-out;
    }

    .nav-item-text{
        font-weight: 400;
    }

    .block-active .nav-item-text{
        font-weight: 600;
    }

    .block-active .nav-item-line{
        min-width: 100px !important;
        height: 2px;
    }

    .nav-item-hidden{
        bottom : -14rem;
    }

}
