
.projects-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.projects-content::-webkit-scrollbar {
    width: 0 !important;
}

.personal-projects-text{
    font-size: 1.2rem;
    color: var(--dark);
    letter-spacing: 0.2rem;
    margin: 1rem 0;
}

.project{
    border: 1px solid var(--light);
    border-left-width: 0.25rem;
    /* height: 12rem; */
    padding: 1rem 0.5rem;
    
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.project-show{
    opacity: 1 !important;
}

.project-images{
    height: 200px;
    width: 200px;
    border: 0.5rem solid var(--light);
    /* border-left-width: 0.5rem; */
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 1px var(--gray);
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0.1s;

}

.project-show .project-images{
    opacity: 1 !important;
}

.project-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .project-images:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 2px 2px 3px var(--gray);
} */

.project-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-circle{
    background-color: var(--gray);
    margin: 2rem 0;
}

.project-title{
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
    color: var(--dark);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.45s;
}

.project-show .project-title{
    opacity: 1 !important;
}

.tech-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.65s;
}

.project-show .tech-items{
    opacity: 1 !important;
}

.tech-item{
    border: 1px solid var(--light);
    background-color: var(--gray);
    border-left-width: 0.25rem;
    letter-spacing: 0.25rem;
    font-weight: 500;
    font-size: 0.85rem;
    padding: 0.25rem 0.4rem;
    margin: 0.25rem 0;
    color: var(--light)

}

.project-description{
    /* border: 1px solid var(--gray); */
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
    color: var(--dark);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.85s,
                font-weight 0.25s ease-in-out;
}

.project-show .project-description{
    opacity: 1 !important;
}

.project-link{
    text-decoration: none;
    color: var(--dark);
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1.05s;
}

.project-show .project-link{
    opacity: 1 !important;
}

.project-link:hover{
    transform: scale(1.01, 1.01);
}

.project-link:hover .project-link-text1{
    width: 100%;
}

.project-link-text span{
    padding: 0.25rem 1rem;
}

.project-link-text1{
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: var(--dark);
    font-weight: 600;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-left-width: 0.25rem;
    padding: 0.2rem 0;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.project-link-text2{
    color: var(--gray);
    font-weight: 600;
    border: 1px solid var(--gray);
    padding: 0.2rem 0;
    background-color: var(--mid);

}

.project-image-container, .project-details{
    z-index: 2;
}

.project-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
    .project{
        padding: 2rem;
        flex-direction: row;
       
    }

    .endline{
        width: 5rem;
        height: 2px;
        min-height: 2px;
        background-color: var(--gray);
        color: var(--gray);
        margin: 3rem 0;
    }

    .project-details{
        padding:0 2rem;
        flex-grow: 1;
    }

    .project-images{
        
        box-shadow: 1px 1px 1px var(--gray);
        opacity: 0;
        transition: opacity 0.25s ease-in-out 0.1s,
            transform 0.25s ease-in-out,
            box-shadow 0.25s ease-in-out;
    }

    .project-images:hover {
        transform: scale(1.02, 1.02);
        box-shadow: 1px 1px 4px var(--gray);
    }

    .project1-overlay{
        background-image: url("../images/pokedex/pokedex1.png");
    }

    .project2-overlay{
        background-image: url("../images/evaluator/evaluator1.png");
    }

    .project3-overlay{
        background-image: url("../images/minesweeper/minesweeper4.png");
    }
 
    .project4-overlay{
        background-image: url("../images/filerepo/filerepo3.png");
    }

    .project-image-container:hover ~ .project-overlay{
        opacity: 0.2;
    }

    .project-image-container:hover ~ .project-details>.project-description{
        font-weight: 600;
    }


}