


#projects-container{
    width: 100vw;
    height:100vh;
    border-collapse: collapse;
    position: absolute;

    z-index: 500;
    
}

#projects-container tbody{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.row .col{
    border-right: 0.5px solid #FAE1DF77;
    border-bottom: 0.5px solid #FAE1DF77;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.row .col3,.row  .col6,.row  .col9{
    border-right: none;
}
.row .col7,.row  .col8,.row  .col9{
    border-bottom: none;
}

.row .col:hover{
    background-color: rgba(158, 163, 176, 0.9);
}

#projects-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 200px;
    /* background-color:teal; */
    z-index: 500;
    /* transform: scale(1.5);
    transition: transform 0.5s; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#projects-bg canvas{
    overflow: hidden;
    position: relative;
    z-index: 200;
}

#proj-particles{
    width:100%;
    height:100vh;
    transform: scale(1.4);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

#proj-circular{
    width:100%;
    height:100vh;
    position: absolute;
    background-color: #E4C3AD;
    opacity: 0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

.projects-bg-img{
    display: block;
    width:100%;
    height:100%;
}

.prop-container{
    display: flex;
    opacity:0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

.prop-text{
    margin: auto;
    font-size: 14px;
    background-color: var(--dark);
    color:yellowgreen;
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
    z-index: 500;
    padding-top:20px;
    
}

#conway-canv{
    width:100%;
    height:100%;
    z-index: 100;
  
}

#conway-stats{
    position:absolute;
    bottom:10px;
    right:50px;
    font-family: monospace;
    font-size: 16px;
    color:var(--dark);
    z-index: 500;
}

#pip-container{
    width:700px;
    height:500px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    opacity:0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

#pip-container img{    
    height:100%;
    position: absolute;
        top:0;
        left:-92px;
    clip-path: inset(1px 105px 1px 92px);
    clip-path: inset(1px 120px 1px 107px);

}

#pip-boy-img{
    filter:opacity(0.9) contrast(0.9);
    height:90%;
    opacity: 0;
    transition: opacity 0.5s;
}



.pip-visible{
    display: block;
}

.pip-invisible{
    display: none;
}

#tetris-canv{
    height: 80vh;
    min-height: 300px;
    margin:10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

.nav .nav-item.unselectable.dark{
    color: #0d1f2d;
}

.nav .nav-item.unselectable.dark::before{
    background-color: #0d1f2d;
}

.nav .nav-item.unselectable.light{
    color: #E4C3AD;
}

.nav .nav-item.unselectable.light::before{
    background-color: #E4C3AD;
}



#mine-tab{
    /*
    min-width:150%;
    min-height:100%;
    */

    margin:50px auto;
    border:1px solid #779;
    width:100%;
    height:100%;

    position:relative;
    opacity:0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

.pre{
    min-width:22px;
    min-height:22px;
    max-height:22px;
    /* added max-width */
    max-width:22px;
    width:22px;
    height:22px;
    border-width:0.2rem;
    border-style:solid;
    border-color:#fff #999 #777 #eee;
    background-color:#bbb;
    line-height:2.0rem;
    margin:0;
    padding:0 0 0 0;
    text-align:center;
    text-overflow:clip;
    font-weight:900;
    font-size:12px;
    font-family:Play,sans-serif;
    display:block;
    position:absolute;
        top:0;
        left:0;
    cursor:pointer;

}

#mine-stats{
    /*  height:3rem; */
    width:8rem;
    border:1px solid #aaa;
    border-radius:0.1rem;
    background:#777;
    display:inline-block;
    font-family:Play;
    font-size:2rem;
    color:#ddd;
    line-height:35px;
    /*
    position:relative;
        left:0rem;*/
}


.d{
    font-size:18px;
    font-family: Play;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.zero{
    border:0.2rem solid #777;
    background:#686868;
    color:transparent;
    font-size:18px;
    font-family: Play;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.d1{
    color:#0100FE;
}

.d2{
    color:#017F01;
}

.d3{
    color:#FE0000;
}
.d4{
    color:#010080;
}
.d5{
    color:#810102;
}
.d6{
    color:#008081;
}
.d7{
    color:#000;
}
.d8{
    color:#808080;
}

.red{
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.cell{
    position: absolute;
    transition: top 0.5s, left 0.5s;
    border:0.5px solid var(--lessdark);
    border-right:0.5px solid var(--dark);
    border-bottom:0.5px solid var(--lessdark);
    border-left:0.5px solid var(--mid);
    border-top:0.5px solid var(--light);
    border-radius: 3px;
    width:40px;
    height:40px;

}

.last_cell{
    visibility: hidden;
}

.really-fast{
    transition: top 0.05s, left 0.05s;
}

#box{
    display: flex;
    width: 100%;
    height: 100%;
    opacity:0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

#slide-puzzle-table{
    margin:auto;
    position: relative;
    width: 304px;
    height: 304px;
    box-sizing: border-box;
    border:2px solid var(--dark);
    border-radius: 3px;
}

#box, #conway-div{
    opacity:0;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

#projects-bg .scale-effect{
    transform: scale(1.0);
    opacity:1;

}

/*====================================*/

.proj-title{
    transform:scale(1.0);
    margin-top:0;
    transition: transform 0.5s, margin-top 0.5s;
}

.col:hover .proj-title{
    transform: scale(1.2);
    margin-top:-15px;
    color:var(--dark);
}



.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    position: absolute;
        bottom:-100px;
    transition: bottom 0.5s;
}

.details-show{
    bottom:20px;
}

.details p{
    text-align: center;
}

.link{
    margin-top:5px;
}

.link a{
    text-decoration: none;
    font-size: 14px;
    color:var(--dark);
    border:1px solid var(--dark);
    padding:2px 5px;
}

.link a::after{
    content: "▶";
    color:var(--dark);
    margin-left:5px;
}

.link a:hover{
    color:var(--mid);
    background-color: var(--dark);
    border-color:var(--mid);
}

.link a:hover::after{
    color:var(--mid);
}

.lang{
    font-weight: 500;
    font-size: 12px;
    display: inline;
    margin:2px auto;
    padding:2px 5px;
    background-color:var(--lessdark);
}

.lang-js{
    border:1px solid var(--blue);
    border-left:5px solid var(--blue); 
    color:var(--blue);
}

.lang-js::before{
    content:"❒";
    color: var(--blue);
    margin-right:5px;
}

.lang-canvas{
    border:1px solid var(--green);
    border-left:5px solid var(--green);
    color:var(--green);
}

.lang-canvas::before{
    content:"❒";
    color: var(--green);
    margin-right:5px;
}

.lang-jquery{
    border:1px solid var(--red);
    border-left:5px solid var(--red);
    color:var(--red);
}

.lang-jquery::before{
    content:"❒";
    color: var(--red);
    margin-right:5px;
}

.lang-cpp{
    border:1px solid var(--pink);
    border-left:5px solid var(--pink);
    color:var(--pink);
}

.lang-cpp::before{
    content:"❒";
    color: var(--pink);
    margin-right:5px;
}

